/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-text2: #fff;
	--color-background: #eee;
	--color-first: #FF6E0D;
	--color-second: #F20D90;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

@font-face {
	font-family: 'Dunkin Sans';
	src: url('../Fonts/Dunkin-Sans-Display.woff2') format('wolff2'),
}

.navbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4em;
	max-width: auto;
}

.logo{
align-items: center;
}

.logo-foto{
	max-width: 10em;
}

body {
	font-family: "Dunkin Sans";
}

.header-keur {
	background-color: var(--color-first);
	color: var(--color);
}

.taal {
	padding: 0.5em;
	background-color: var(--color-background);
	border-radius: 30%;
}

/* chat hulp */
.nav-menu {
	display: none;
	/* Verberg het menu standaard */
	list-style-type: none;
	/* Verwijder bullet points */
	padding: 0;
	/* Verwijder padding */
}

.nav-menu.active {
	display: block;
	/* Toon het menu als het 'active' is */
}

button[aria-label="menu"] {
	background: #F0F0F0;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 30%;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 0.8em;
	padding-top: 0.8em;
	width: fit-content;

}

section:nth-of-type(1) {
	position: relative; /* Zorg ervoor dat de h1 binnen deze sectie positioneert */
  }
  
  section:nth-of-type(1) img {
	display: block;
	width: 100%; /* De breedte van de afbeelding */
	height: auto; /* Houdt de verhoudingen van de afbeelding */
	border-radius: 18px;

  }
  
  section:nth-of-type(1) h1 {
	position: absolute; /* Plaats de h1 over de afbeelding */
	top: 20%; /* Verticaal in het midden */
	left: 50%; /* Horizontaal in het midden */
	transform: translate(-50%, -50%); /* Zorg voor exacte centrering */
	color: white; /* Tekstkleur voor leesbaarheid */
	font-size: 3rem; /* Tekstgrootte aanpassen */
	z-index: 10; /* Zorg dat de tekst boven de afbeelding ligt */
	text-align: center;

  }